@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity



<div class="top-bar">
    <!-- Left side links -->
    <div class="left-links">
        <a href="/" class="nav-items">Home</a>
@*         <a href="/about">About</a>
        <a href="/contact">Emagency Contacts</a> *@
    </div>

    <!-- Right side links -->
    <div class="right-links">
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <Authorized>
                <a href="/identity/account/manage" class="nav-items">Profile</a>
                <a href="/identity/account/logout" class="nav-items">Sign out</a>
            </Authorized>
            <NotAuthorized>
                @* <a href="/identity/account/register">Register</a> *@
                <a href="/identity/account/login" class="nav-items">Sign in</a>
            </NotAuthorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</div>


<style>
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .top-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        /* background-color: #333; */
        box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    }

        .top-bar .left-links,
        .top-bar .right-links {
            display: flex;
        }

        .top-bar a {
            color: black;
            text-decoration: none;
            margin: 0 10px;
            padding: 10px;
        }

            .top-bar a:hover {
                background-color: rgba(220, 20, 60, 0.5);
                border-radius: 10px;
                color: white;
            }


    .left-links {
        font-weight: bold;
        font-size: large;
    }

    .right-links {
        font-weight: bold;
        font-size: large;
    }

  
    .nav-items {
        text-align: center;
        font-family: "Titillium Web", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        
    }
</style>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">